version: '2'
services:
    test:
        image: silintl/php8:8.1
        volumes:
            - ./:/data
        working_dir: /data
        env_file:
            - ./local.env
        command: ["true"]

