<phpunit bootstrap="bootstrap.php"
         colors="false"
         processIsolation="true"
         stopOnFailure="false">

  <testsuites>
    <testsuite name="unit">
      <directory>./unit</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
  </listeners>
</phpunit>